.neighborhoods{
    min-width: 250px !important;
    justify-content: flex-end;
    margin-right: 50px;
}

.forms{
    border-radius: 0 !important;
}

.my-typeahead-input .rbt-close {
    font-size: 1rem;
    padding: 0.25rem;
    /* Add any other custom styles for the clear button here */
  }