.resource-page-container{
    padding: 1rem 2.5rem;
}

.heading{
    color: var(--color-secondary);
    font-size: 3.5rem;
    text-align: center;
    margin-top: 0.5rem;
    margin-bottom: 3.5rem;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
}

.subheading{
    color: var(--color-secondary);
    font-size: 1.8rem;
    margin-bottom: 2rem;
}

.helpline-title{
    padding: 0.8rem 0 0.5rem;
    color: white;
    font-size: 1.5rem;
    font-weight: 600;
}

.helpline-text{
    margin: 0.6rem 0 0.8rem 1.5rem;
    font-size: 1.3rem;
    color: black;
}

.accordion-button {
    background-color: var(--color-primary) !important;
    box-shadow: 3px 0px 3px black !important;
}

.accordion-button:hover{
    background-color: rgb(41, 167, 154) !important;
}

.accordion-button:focus {
    box-shadow: none;
}

.accordion-button:not(.collapsed) {
    color: #212529;
}


.accordion .item{
    border-color: var(--color-secondary);
    /* border-width: 0.2rem; */
}

.accordion .item .accordion-header button::after{
    transition: var(--transition);
}

.accordion .item .accordion-collapse{
    transition: var(--transition);
}