.summary{
    display: flex;
    padding: 2rem;
    max-width: 1200px;
    width: 100%;
    justify-content: space-between;
    background-color: var(--color-primary);
    color: white;
    border: solid;
    border-radius: 0.8rem;
    border: solid;
    border-width: 0.1rem;
    border-color: black;
    /* display: block; */
}

.banner{
    display: flex;
    /* background: lightgrey; */
    justify-content: center;
    align-items: center;
    /* margin-bottom: 20px; */
    width:95%;
    position: relative;
    left: 2.5%;
}

.mapped{
   display: flex;
   margin-top: 3rem;
}

.link,.link:active,.link:focus,.link:link,.link:visited,.link:hover{
    text-decoration: none;
    color: inherit;
}

.width{
    width: 185px;
    margin-left: 1rem;
}

._width_tiupn_38{
    border: solid 1px black;
}