nav{
    /* background-color: #49b884; */
    /* background-color: cadetblue; */
    /* background-color: var(--color-primary); */
    background-color: var(--color-main);
    height: 4rem;
    border-bottom: solid;
    /* border-color: #49b884; */
    border-color: var(--color-secondary);
    border-width: 0.2rem;
    color: white;
    box-shadow: 0 2px 2px 2px var(--color-secondary);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}

.title{
    font-size: 2.5rem;
    position: absolute;
    left: 2.5%;
    display: inline;
    top: 10%;
    color: white;
    text-decoration: none;
    font-weight: 700;
    font-family: 'Klee One', cursive;
    /* font-family: 'Mynerve', cursive; */
}

.title a{
    color: white;
    text-decoration: none;
}

.title a:hover{
    /* color: var(--color-secondary); */
    color: var(--color-highlight);
    cursor: pointer;
    text-shadow:
            -1px -1px 0 black,
            /* Top-left shadow */
            1px -1px 0 black,
            /* Top-right shadow */
            -1px 1px 0 black,
            /* Bottom-left shadow */
            1px 1px 0 black;
        /* Bottom-right shadow */
        /* bottom: 24%; */
}

#infinity-logo{
    font-weight: 900;
    font-size: 5rem;
    color: white;
    text-decoration: none;
    /* position: relative;
    left: 29%; */
    position: absolute;
    left: 46%;
    top: -10px;
    /* text-align: center; */
    display: inline;
}

#infinity-logo:hover{
    color: var(--color-highlight) !important;
    cursor: pointer; 
    stroke: black;
    stroke-width: 6;
}

.infinity-outline:hover{
    border: 1px solid black;
    border-color: black;
}

.resources-link{
    display: inline;
    font-size: 1.5rem;
    position: absolute;
    right: 2%;
    top: 20%;
    font-weight: 700;
    color: white;
    text-decoration: none;
}

.resources-link:hover{
    color: var(--color-highlight);
    cursor: pointer; 
    text-shadow:
            -1px -1px 0 black,
            /* Top-left shadow */
            1px -1px 0 black,
            /* Top-right shadow */
            -1px 1px 0 black,
            /* Bottom-left shadow */
            1px 1px 0 black;
        /* Bottom-right shadow */
        /* bottom: 24%; */
}

.explore-link{
    display: inline;
    position: absolute;
    font-size: 1.5rem;
    font-weight: 700;
    top: 20%;
    right: 13.5%;
    color: white;
    text-decoration: none;
}

.explore-link:hover{
    color: var(--color-highlight);
    cursor: pointer;
    text-shadow:
            -1px -1px 0 black,
            /* Top-left shadow */
            1px -1px 0 black,
            /* Top-right shadow */
            -1px 1px 0 black,
            /* Bottom-left shadow */
            1px 1px 0 black;
        /* Bottom-right shadow */
        /* bottom: 24%; */
}

.survey-link{
    display: inline;
    position: absolute;
    font-size: 1.5rem;
    font-weight: 700;
    top: 20%;
    right: 23.5%;
    color: white;
    text-decoration: none;
}

.survey-link:hover{
    color: var(--color-highlight);
    cursor: pointer; 
    text-shadow:
            -1px -1px 0 black,
            /* Top-left shadow */
            1px -1px 0 black,
            /* Top-right shadow */
            -1px 1px 0 black,
            /* Bottom-left shadow */
            1px 1px 0 black;
        /* Bottom-right shadow */
        /* bottom: 24%; */
}

/* a:hover{ 
    color: var(--color-secondary);
    cursor: pointer;    
} */

/***********Media queries (tablets, medium devices) *************/
@media screen and (max-width: 1024px){
    .explore-link{
        /* visibility: hidden; */
        display: none;
    }

    .resources-link{
        /* visibility: hidden; */
        display: none;
    }

    .survey-link{
        /* visibility: hidden; */
        display: none;
    }

    #logo{
        left: 76%;
    }
}    