 .infoContainer {
     margin-left: 105px;
     height: 100%;
     display: flex;
     align-items: flex-start;
     justify-content: flex-end;
     margin-right:55px;
 }

 .mapContainer {
     flex-basis: 50%;
     /* width: 1800px; */
     margin: 2rem;
 }

  .accordionContainer {
      flex-basis: 50%;
      text-align: left;
      margin: 2rem;
  }

  .locationinfo {
      font-size: 40px;
      text-align: center;
      font-family: 'Poppins', sans-serif;
  }

  .resultsDetails {
      margin: auto !important;
      flex-wrap: wrap;
      margin-bottom:auto;
  }

  /* --------- media queries--------- */
  @media screen and (max-width:800px){
    .infoContainer{
        display: block;
    }
    .mapContainer{
        display: block;
        position: relative;
        margin: 0;
        left: 25%;
        width: 100%;
    }

    .accordionContainer{
        display: block;
        position: relative;
        right: 1rem;
        top: 16rem;
        width: 100%;
        margin-left: 0;
    }
  }