.result{
    display: flex;
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 25px;
    text-decoration: none !important;
    /* color: inherit; */
    overflow: hidden !important;
}

.info{
    margin-left: 25px;
    max-height: 200px;
}

.locationinfo{
    font-size: 40px;
    text-align: center;
}

.info :hover{
  border-width: 3px;
}

.result-image{
    width: 200px;
    height: 200px;
    border-radius: 5px;
    object-fit: cover;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    transition: box-shadow 0.3s ease-in-out;
    border: 1px solid black;
}

.result-image:hover{
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.6); /* add a glowing box-shadow effect */
    }


.address{
    /* display: flex;
    font-size: 20px;
    justify-content: space-between;
    align-items: center; */
    display: flex;
    flex-grow: 1;
    height: 200px;
    flex-wrap: nowrap;
    width: 600px;
    color: white;
    background-color: var(--color-primary) !important;
    border: solid 1px black !important;
    text-align: left;
    box-shadow: 2px 2px 2px black;
}

.address:hover{
  box-shadow: 5px 5px 5px black;
  cursor: pointer;
}

  /* arrow in card */
  a svg{
    color: white;
  }

  a svg:hover{
    color: black;
  }

.writeReview{
    display: flex;
    font-size: 30px;
    justify-content: space-between;
    border: 3px solid black;
}

.share{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.carousel-img {
    width: 200px;
    height: 200px;
  }

.photos{
    width:1000px;
    height:500px;
    object-fit: cover;
    margin-top: 2rem;
  }

.resultsDetails{  
    width:900px;
    height:500px;
    margin: auto;
  flex-wrap: wrap;
}

.mapWidth{
    width:180px;
    height:100px;
}

.blurb{
    background-color: rgba(0, 0, 0, 0.5);
    color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 10px;
}

.mapinfo{
    display:flex;
    align-items: center;
    justify-content: space-evenly;
}

@media only screen and (max-width: 1000px) {
    .address{
        width: 200px;
    }

  }
  
  .infoContainer {
      display: grid;
      flex-basis: 100%;
  }

  h1 #loc{
    color: var(--color-primary);
  }

  .mapContainer {
      flex-basis: 50%;
      justify-content: center;
      /* width: 1800px; */
      position: relative;
      left: 25%;
      margin: 2rem;
  }

  .accordionContainer {
      flex-basis: 50%;
      margin-bottom: 2rem;
  }

