.myApp {
  background-color: white;
}

.navbar h1 {
  text-align: center;
}
.questionBox h1 {
  text-align: center;
  font-family: "Klee One", cursive;
  font-size: 2.5rem;
}
.surveyOver h1 {
  text-align: center;
  width: 500px;
  font-size: 60px;
}

.navbar {
  background-color: cadetblue;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.navbar-nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.companyLogo {
  align-self: left;
  padding: 0px;
}
.questionBox {
  border: 10px;
  border-radius: 100px;
  padding: 80px;
  background-color: var(--color-primary);
  color: white;
  width: 60%;
  align-self: center;
  margin: auto;
  margin-top: 35px;
  min-width: 50%;
  display: flex;
  flex-direction: column;
  row-gap: 45px;
  border: solid;
  border-color: var(--color-secondary);
  box-shadow: 5px 10px 18px var(--color-secondary);
  transition-duration: 0.5s;
  font-family: 'Poppins', sans-serif;
}
.questionBox:hover {
  opacity: 90%;
  margin-top: 50px;
  transition-duration: 0.5s;
}
.answerStack {
  display: flex;
  flex-direction: column;
  row-gap: 28px;
}
.choiceBtn {
  align-self: center;
  color: var(--color-secondary);
  background-color: white;
  border-radius: 8px;
  width: 65%;
  height: 60px;
  min-height: 60px;
  border-width: 1px 2px 2px 1px;
  /* border-color: #61dafbaa; */
  border-color: var(--color-secondary);
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border: 2px solid;
  box-shadow: 0 2px 2px 2px;

}
.choiceBtn:hover {
  background-color: rgb(220, 220, 220);
  transition-duration: 0.2s;
}
.choiceBtn:active {
  background-color: var(--color-primary);
  color: white;
  border-color:white;
  box-shadow: none;
}

.surveyOver {
  width: 500px;
  height: 300px;
  align-items: center;
  justify-content: center;
  margin-top: 90px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Poppins", sans-serif;
}
.surveyOver p {
  text-align: center;
  font-size: 40px;
}
.loadIMG {
  /* margin-left: 24%; */
  margin-right: 2%;
  margin-bottom: 10%;
}