
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
  list-style: none;
  /* padding: 0;
  margin: 0;
  border: 0; */
  /* font-family: 'Klee One', cursive; */
}

:root{
  --color-main: #004c53;
  --color-primary: rgb(0, 146, 154);
  --color-secondary: black;
  --color-highlight: #1FAA9F;
  --transition: all 400ms ease;
}

html {
  scroll-behavior: smooth;
}
/* ::webkit-scrollbar {
  display: none;
} */

body {
  background-color: white;
  /* font-family: 'Mulish', sans-serif; */
  /* font-family: 'Poppins', sans-serif; */
  font-family: 'Klee One', cursive;

}

:hover{
  transition: var(--transition);
}

